<ion-content id="body">
	<ion-header id="head">
	  <ion-toolbar id="tools">
	  	<ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
	  	<ion-title id="titulo">SELEZIONA IL SISTEMA</ion-title>
	  </ion-toolbar>
	</ion-header>
	<p id="as">Affinare il sistema</p>
	<ion-row *ngFor="let t of checks" lines="none" class=filas>
		<ion-col>
			<ion-item class="items" lines="none">
				<ion-checkbox></ion-checkbox>
				<p>{{ t }}</p>
			</ion-item>
		</ion-col>
	</ion-row>
	<p id="alerta">Fai clic su continua per selezionare i numeri</p>
	<ion-button routerLink="/seleccion2" routerDirection="root" shape="round" id="continuar">CONTINUA</ion-button>
</ion-content>