#body, #head{
	--background: #09B7DA; 
	font-family: 'geometos';
	font-size: 14px;
}
#ue{
	text-align: left;
	color: white;
	background: #09B7DA; 
	font-family: 'geometos';
	font-size: 14px;
	position: relative;
	left: 10%;
	margin: none;
}
.datos{
	width: 70%;
	margin-top: 0%;
	margin-left: 15%;
	height: 10%;
}
.datos, #number {
	[id*="ultime"] {
		width: 20%;
		height: 70px;
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		float: left;
	}
}
.datos, #number {
	[id*="ultime"] {
		b{
			position: relative;
			top: 37.5%;
			color: black;
		}
	}
}
#dia b{
	color: white;
}
.datos:before {
	content: "";
	clear: both;
}
/*.datos #ultime0 b, #ultime1 b, #ultime2 b, #ultime3 b, #ultime4 b, #number #ultime0 b, #ultime1 b, #ultime2 b, #ultime3 b, #ultime4 b{
	position: relative;
	top: 37.5%;
}*/
#ultime0, #ultime2, #ultime4{
	background-image: url('/assets/fondo-numero-rojo-balnco.png');
}
#ultime1, #ultime3{
	background-image: url('/assets/fondo-numero-azul-blanco.png');
}
#uc{
	margin-left: 15%;
	height: 5%;
	width: 70%;
	margin-bottom: 0%;
	text-align: center;
	background: white;
	color: #09B7DA;
}
#ucc{
	height: 100%;
	width: 100%;
	position: relative;
	top: 15%;
}
#ucp{
	height: 100%;
	width: 33.33%;
	position: relative;
	top: 15%;
}
#vincite{
	color: white;
	margin-top: 5%;
	width: 85%;
	margin-left: 6.5%;
	height: 90%;
}
#resultados{
	--background: #09B7DA;
	width: 90%;
	margin-left: 5%;
	border-bottom: 1px solid white; 
	margin-bottom: 5%;
}
#v{
	width: 33.33%;
	text-align: center;
	font-weight: 100;
}
#estrazioni{
	width: 90%;
	height: 20%;
	--background: #09B7DA;
}
#fecha, #dia, #number{
	margin: auto;
	width: 100%;
}
#fecha{
	height: 30%;
	color: white;
	font-weight: 100;
	text-align: center;
	border: 1px solid white;
	margin-top: 5%;
	background: #09B7DA;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#dia{
	color: white;
	height: 20%;
	background: #0591AC;
}
#number{
	background: white;
	border-radius: 10px;
	height: 130px;
	width: 90%;
	margin-left: 5%;
}
#fecha p{
	text-align: center;
	width: 100%;
}
#tab{
	width: 100%;
}
/*@media only screen and(min-height: 1024px ){
	.datos, #number {
		[id*="ultime"] {
			width: 20%;
			height: 130px;
			text-align: center;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 40px 40px;
			float: left;
			font-size: 40px;
		}
	}
	#number{
		background: white;
		border-radius: 10px;
		height: 250px;
		width: 90%;
		margin-left: 5%;
	}/*
	.datos, #number{
		b{
			font-size: 40px;
			position: relative;
			top: 230%;
		}
	} */
	/*.datos, #number{
		/*[id*="ultime"]{
			b {
				position: relative;
				top: 0%;
			}
		}
	}
	#dia b, #ucc, #ucp, #fecha p{
		font-size: 150%;
	}
	.datos, #number {
		[id*="ultime"] {
			b{
				position: relative;
				top: 32.5%;
			}
		}
	}
}
@media only screen and(min-height: 1024px ){
	.datos, #number {
		[id*="ultime"] {
			width: 20%;
			height: 150px;
			text-align: center;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 40px 40px;
			float: left;
			font-size: 40px;
		}
	}
	#number{
		background: white;
		border-radius: 10px;
		height: 280px;
		width: 90%;
		margin-left: 5%;
	}
	.datos, #number {
		[id*="ultime"] {
			b{
				position: relative;
				top: 35%;
			}
		}
	}
}*/