
	<!--<div id="semana">
		<table id="titulo">
			<tr>
				<td>
					<b id="title">ULTIME 7 ESTRAZIONI</b>
				</td>
			</tr>
		</table>
		<table id="datos" *ngFor="let d of dias; let i = index">
			<tr>
				<td id="date">
					<span>
						<b>{{ d }}</b>
					</span>
					<br>
					<b>{{ fechas[i] }}</b>
				</td>
				<td *ngFor="let n of numeros[i]; let x = index" id="numbers{{ x }}">
					<b id="numeri">{{ n }}</b>
				</td>
			</tr>
		</table>
	</div>
	<div id="umes">
		<table id="titulo2">
			<tr>
				<td>
					<b id="title2">ULTIMI RISULTATI</b>
				</td>
			</tr>
		</table>
		<table id="datos2" *ngFor="let d of dias2; let i = index">
			<tr>
				<td id="date2">
					<span>
						<b>{{ d }}</b>
					</span>
					<br>
					<b>{{ fechas2[i] }}</b>
				</td>
				<td *ngFor="let n of numeros2[i]; let x = index" id="numeros{{ x }}">
					<b>{{ n }}</b>
				</td>
			</tr>
		</table>
	</div>-->
<ion-content id="body">
	<ion-toolbar id="head">
		<ion-menu-button menu="main-menu" slot="start" color="light"></ion-menu-button>
		<ion-title id="ue">
			ULTIME ESTRAZIONI
		</ion-title>
	</ion-toolbar>
	<ion-row id="uc">
		<ion-col>
			<b id="ucc">ULTIMO CONCORSO</b>
		</ion-col>
	</ion-row>
	<div class="datos" style="width: 80%;">
		<div *ngFor="let ultime of numeros[0]; let i = index">
			<div [id]="'ultime'+i">
				<b>{{ ultime }}</b>
			</div>
		</div>
	</div>
	<ion-row id="uc">
		<ion-col>
			<b id="ucp">VINCITE</b>
		</ion-col>
		<ion-col>
			<b id="ucp">CATEGORIE</b>
		</ion-col>
		<ion-col>
			<b id="ucp">EURO</b>
		</ion-col>
	</ion-row>
	<ion-item id="resultados" lines="none">
		<table id="vincite">
			<tr id="v">
				<td>Nessuna</td>
				<td>Punti 5</td>
				<td>254,39€</td>
			</tr>
				
			<tr id="v">
				<td>1</td>
				<td>Punti 4</td>
				<td>254,39€</td>
			</tr>

			<tr id="v">
				<td>29</td>
				<td>Punti 3</td>
				<td>254,39€</td>
			</tr>

			<tr id="v">
				<td>430</td>
				<td>Punti 2</td>
				<td>254,39€</td>
			</tr>
		</table>
	</ion-item>
	<ion-row id="uc">
		<ion-col>
			<b id="ucc">ULTIME 7 ESTRAZIONI</b>
		</ion-col>
	</ion-row>
	<div id="estrazioni" id="number" *ngFor="let d of dias; let i = index">
		<ion-row id="fecha">
			<p>ESTRAZIONE <!-- {{ d }} --> <span style="float: right;">{{ fechas[i] }}</span></p>
		</ion-row>
		<ion-row id="dia">
			<ion-col>
				<b [ngClass]="i == 0 ? 'green' : '' ">LUN</b>
			</ion-col>
			<ion-col>
				<b [ngClass]="i == 1 ? 'green' : '' ">MAR</b>
			</ion-col>
			<ion-col>
				<b [ngClass]="i == 2 ? 'green' : '' ">MER</b>
			</ion-col>
			<ion-col>
				<b [ngClass]="i == 3 ? 'green' : '' ">GIO</b>
			</ion-col>
			<ion-col>
				<b [ngClass]="i == 4 ? 'green' : '' ">VEN</b>
			</ion-col>
			<ion-col>
				<b [ngClass]="i == 5 ? 'green' : '' ">SAB</b>
			</ion-col>
			<ion-col>
				<b [ngClass]="i == 6 ? 'green' : '' ">DOM</b>
			</ion-col>
		</ion-row>
		<div class="datos">
			<ion-row id="tab">
				<ion-col id="ultime{{ x }}" *ngFor="let n of numeros[i]; let x = index">
					<b>{{ n }}</b>
				</ion-col>
					<!--<ion-col id="ultime0">
						<b>5</b>
					</ion-col>
					<ion-col id="ultime1">
						<b>10</b>
					</ion-col>
					<ion-col id="ultime2">
						<b>15</b>
					</ion-col>
					<ion-col id="ultime3">
						<b>20</b>
					</ion-col>
					<ion-col id="ultime4">
						<b>25</b>
					</ion-col>-->
			</ion-row>
		</div>
	</div>
</ion-content>