<ion-header>
  <ion-toolbar id="tools">
    <ion-title slot="end">historial</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div id="semana">
		<table id="titulo">
			<tr>
				<td>
					<b id="title">ULTIME ESTRAZIONI</b>
				</td>
			</tr>
		</table>
		<table id="datos" *ngFor="let d of dias; let i = index">
			<tr>
				<td id="date">
					<span>
						<b>{{ d }}</b>
					</span>
					<br>
					<b>{{ fechas[i] }}</b>
				</td>
				<td *ngFor="let n of numeros[i]; let x = index" id="numbers{{ x }}">
					<b>{{ n }}</b>
				</td>
			</tr>
		</table>
	</div>
	<div id="umes">
		<table id="titulo2">
			<tr>
				<td>
					<b id="title2">ULTIMI RISULTATI</b>
				</td>
			</tr>
		</table>
		<table id="datos2" *ngFor="let d of dias2; let i = index">
			<tr>
				<td id="date2">
					<span>
						<b>{{ d }}</b>
					</span>
					<br>
					<b>{{ fechas2[i] }}</b>
				</td>
				<td *ngFor="let n of numeros2[i]; let x = index" id="numeros{{ x }}">
					<b>{{ n }}</b>
				</td>
			</tr>
		</table>
	</div>
</ion-content>
