.toolbar-container, #body, #tools, #head{
	--background: #09B7DA;
	color: white;
}
#exclusion{
	text-align: center;
	color: white;
	font-size: 80%;
}
#fila{
	.n1, .n2{
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 37.5px 37.5px;
		height: 12.5%;
		width: 100%;
	}
} 
 .n1, .n2{
	b{
		position: relative;
		top: 15px;
		color: black;
	}
 } 
 .c1, .c2{
 	b{
 		position: relative;
 		top: 37.5%;
 		color: black;
 	}
 }
.n1, .c1{
	background-image: url('/assets/fondo-numero-rojo-balnco.png');
}
.n2, .c2{
	background-image: url('/assets/fondo-numero-azul-blanco.png');
}
.c1, .c2{
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	height: 100%;
}
.n1, .n2{
	[id*="numero"]{
		height: 100%;
	}
}
#seleccionado{
	height: 10%;
	margin-top: 5%;
}
#contenedor{
	width: 95%;
	height: 60%;
	margin-left: 2.5%;
	border-bottom: 1.5px solid white;
}
#fila{
	margin: none;
	height: 100%;
	width: 100%;
	position: relative;
	left: 0%;
}
#columna{
	height: 100%;
	border: solid;
}
#verifica{
	margin-top: 5%;
	width: 75%;
	margin-left: 12.5%;
	--background: white;
	--color: #50CBE4;
	font-weight: bolder;
	--box-shadow: none;
}
#n1, #n2{
	#valores{
		margin: 0;
		position: relative;
		top: 0%;
		left: 0%;
		height: 100%;
		width: 100%;
	}
}
@media only screen and(min-height: 560px){
	#fila{
		.n1, .n2{
			background-size: 32.5px 32.5px;
			height: 12.5%;
			width: 100%;
			b{
				top: 12.5px;
			}
		}
	}
	.c1, .c2{
	 	b{
	 		position: relative;
	 		top: 32.5%;
	 	}
	}
}
@media only screen and(min-height: 640px){
	#fila{
		.n1, .n2{
			background-size: 32.5px 35px;
			height: 12.5%;
			width: 100%;
			b{
				top: 16px;
			}
		}
	}
	.c1, .c2{
	 	b{
	 		position: relative;
	 		top: 35%;
	 	}
	}
}
@media only screen and(min-height: 650px){
	#fila{
		.n1, .n2{
			background-size: 27.5px 32.5px;
			height: 12.5%;
			width: 100%;
			b{
				top: 16px;
			}
		}
	}
	.c1, .c2{
	 	b{
	 		position: relative;
	 		top: 35%;
	 	}
	}
}
@media only screen and(min-height: 720px){
	#fila{
		.n1, .n2{
			background-size: 32.5px 32.5px;
			height: 12.5%;
			width: 100%;
			b{
				top: 17.5px;
			}
		}
	}
	.c1, .c2{
	 	b{
	 		position: relative;
	 		top: 37.5%;
	 	}
	}
}
@media only screen and(min-height: 800px){
	#fila{
		.n1, .n2{
			b{
				top: 21px;
			}
		} 
	}
	.c1, .c2{
	 	b{
	 		position: relative;
	 		top: 40%;
	 	}
	}
	
}
@media only screen and(min-height: 1024px){
	#fila{
		.n1, .n2{
			background-size: 45px 45px;
			height: 12.5%;
			width: 100%;
			b{
				top: 30px;
			}
		} 
	}
	.c1, .c2{
	 	b{
	 		position: relative;
	 		top: 42.5%;
	 	}
	}
	.c1, .c2{
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 45px 45px;
		height: 100%;
	}
}
@media only screen and(min-height: 1300px){
	#fila{
		.n1, .n2{
			background-size: 55px 55px;
			height: 12.5%;
			width: 100%;
			b{
				top: 40px;
			}
		} 
	}
	.c1, .c2{
	 	b{
	 		position: relative;
	 		top: 45%;
	 	}
	}
	.c1, .c2{
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 55px 55px;
		height: 100%;
	}
}