.toolbar-container, #body, #tools, #head{
	--background: #09B7DA;
	--color: white;
}
#grafico{
	margin: auto;
	/*color: white !important;*/
	font-size: 12px !important;
	//margin-top: 10px;
	height: 80% !important;
	//width: 300px !important;*/
}
#titulo{
	text-align: center;
	font-family: 'geometos';
	font-size: 14px;
	margin: auto;
	margin-right: 30px;
}
[id*="tab-button-tab"], ion-tab-button{
	background: #297CA8;
	color: white !important;
	font-size: 8px;
	font-family: 'geometos';
}