.toolbar-container, #body, #tools, #head{
	--background: #09B7DA;
	--color: white;
}
#body{
	overflow-y: scroll;
}
#grafico{
	margin: auto;
	font-size: 12px !important;
	height: 80% !important;
}
#titulo{
	text-align: center;
	font-family: 'geometos';
	font-size: 14px;
	margin: auto;
	margin-right: 30px;
}
[id*="tab-button-tab"], ion-tab-button{
	background: #297CA8;
	color: white !important;
	font-size: 8px;
	font-family: 'geometos';
}
#estracciones{
	border: 1px solid white;
    width: 220px;
    margin: auto;
}