.toolbar-container, #body, #tools, #head{
	--background: #09B7DA;
	--color: white;
}
#grafico{
	color: white;
}
#titulo{
	text-align: center;
	font-family: 'geometos';
	font-size: 14px;
	margin: auto;
	margin-right: 30px;
}