<ion-header>
  <ion-toolbar>
    <ion-title>ADMIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-card text-center padding id="ganadores" (click)="activador('VINCITORI')">
					<img src="../assets/ganadores.png">
					<h2>VINCITORI</h2>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card text-center padding id="donadores" (click)="activador('DONATORI')">
					<img src="../assets/donar.png">
					<h2>DONATORI</h2>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-card text-center padding id="usuarios" (click)="activador('UTENTI')">
					<img src="../assets/usuarios.png">
					<h2>UTENTI</h2>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card text-center padding id="salir" (click)="salir()">
					<img src="../assets/salir.png">
					<h2>ESCI</h2>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<p id="panel">{{ funcion }}</p>
	<table *ngIf="funcion == 'UTENTI'">
		<thead>
			<tr>
				<td>NOME</td>
				<td>MAIL</td>
				<td>DATA DI NASCITA</td>
				<td>SESSO</td>
			</tr>
		</thead>
		<tr *ngFor="let data of datos.nombres; let i = index">
			<td>{{ datos.nombres[i] }}</td>
			<td>{{ datos.correos[i] }}</td>
			<td>{{ datos.fechas[i] }}</td>
			<td>{{ datos.sexos[i] }}</td>
		</tr>
	</table>
	<table *ngIf="funcion == 'VINCITORI'">
		<thead>
			<tr>
				<td>MAIL</td>
				<td>COMBINAZIONE</td>
				<td>DATA DEL GIOCO</td>
				<td>PUNTI</td>
			</tr>
		</thead>
		<tr *ngFor="let data of datos.aciertos; let i = index">
			<td>{{ datos.correos[i] }}</td>
			<td>{{ datos.numeros[i] }}</td>
			<td>{{ datos.fechas[i] }}</td>
			<td>{{ datos.aciertos[i] }}</td>
		</tr>
	</table>
	<table *ngIf="funcion == 'DONATORI'">
		<thead>
			<tr>
				<td>UTENTI</td>
				<td>MAIL</td>
				<td>DATA DEL GIOCO</td>
				<td>IMPORTI</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let data of datos.montos; let i = index">
				<td>{{ datos.usuarios[i] }}</td>
				<td>{{ datos.correos[i] }}</td>
				<td>{{ datos.fechas[i] }}</td>
				<td>{{ datos.montos[i] }}</td>
			</tr>
		</tbody>
	</table>
</ion-content>
