<ion-header>
  <ion-toolbar>
    <ion-title>ADMINISTRACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-card text-center padding id="ganadores" (click)="activador('GANADORES')">
					<ion-icon src="../assets/ganadores.png"></ion-icon>
					<h2>VINVITORI</h2>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card text-center padding id="donadores" (click)="activador('DONADORES')">
					<ion-icon src="../assets/donar.png"></ion-icon>
					<h2>DONATORI</h2>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-card text-center padding id="usuarios" (click)="activador('USUARIOS')">
					<ion-icon src="../assets/usuarios.png"></ion-icon>
					<h2>UTENTI</h2>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card text-center padding id="salir" (click)="salir()">
					<ion-icon src="../assets/salir.png"></ion-icon>
					<h2>ESCI</h2>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<p id="panel">{{ funcion }}</p>
	<ion-list *ngIf="funcion == 'USUARIOS'">
		<ion-item *ngFor="let data of datos.nombres; let i = index">
			<ion-row>
				<ion-col>
					<ion-label class="datos">{{ datos.nombres[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.correos[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.fechas[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.sexos[i] }}</ion-label>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="funcion == 'GANADORES'">
		<th>
			<tr>
				<td>CORREOS</td>
				<td>COMBINACIÓN</td>
				<td>FECHA DE JUEGO</td>
				<td>PUNTOS</td>
			</tr>
		</th>
		<ion-item *ngFor="let data of datos.aciertos; let i = index">
			<ion-row>
				<ion-col>
					<ion-label class="datos">{{ datos.correos[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.numeros[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.fechas[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.aciertos[i] }}</ion-label>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="funcion == 'DONADORES'">
		<th>
			<tr>
				<td>USUARIOS</td>
				<td>CORREOS</td>
				<td>FECHA DE JUEGO</td>
				<td>MONTOS</td>
			</tr>
		</th>
		<ion-item *ngFor="let data of datos.montos; let i = index">
			<ion-row>
				<ion-col>
					<ion-label class="datos">{{ datos.usuarios[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.correos[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.fechas[i] }}</ion-label>
				</ion-col>
				<ion-col>
					<ion-label class="datos">{{ datos.montos[i] }}</ion-label>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>
</ion-content>
