#tools{
	--background: #FF8633;
	--color: white;
}
#contenedor{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 60%;
	width: 100%;
}
#contenedor img{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
}
#push{
	position: absolute;
	top: 60%;
	left: 0%;
	height: 40%;
	width: 100%;
	background: #3880ff;
}
#random{
	--background: #FF8633;
	--color: white;
	margin-top: 40%;
}