<ion-content id="body">
	<div id="header">
	  <ion-toolbar id="tools">
	    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
	    <p id="millionday">CHANCE MILLIONDAY</p>
	  </ion-toolbar>
	</div>
	<ion-row>
		<ion-col></ion-col>
		<ion-col>
			<div id="restante"></div>
		</ion-col>
		<ion-col></ion-col>
	</ion-row>
	<img src="../assets/monedas-2.png" id="imgm">
	<img src="../assets/aro-luz.png" id="fondo">
	<div id="game">
		<h5>PROSSIMO CONCORSO TRA</h5>
		<ion-row id="tiempo">
			<ion-col></ion-col>
			<ion-col>
				<div id="horas">
					<div id="barra"></div>
					<h1 id="hh1"></h1>
				</div>
				<p>ORE</p>
			</ion-col>
			<ion-col>
				<div id="minutos">
					<div id="barra"></div>
					<h1 id="mh1"></h1>
				</div>
				<p>MINUTI</p>
			</ion-col>
			<ion-col>
				<div id="segundos">
					<div id="barra"></div>
					<h1 id="sh1"></h1>
				</div>
				<p>SECONDI</p>
			</ion-col>
			<ion-col></ion-col>
		</ion-row>
		<ion-row>
			<ion-col></ion-col>
			<ion-col>
				<h1 id="chance">
					La tua chance per vincere il
				</h1>
			</ion-col>
			<ion-col></ion-col>
		</ion-row>
		<h1 id="mday">MILLIONDAY</h1>
		<ion-row id="tutorial">
			<ion-col>
				<ion-button shape="round" expand="full" size="large" id="tuto" routerLink="/manual">
					TUTORIAL
				</ion-button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>