<ion-header>
  <ion-toolbar id="header">
    <ion-row slot="end">
    	<ion-col>
    		<ion-button expand="full" id="b1">Million</ion-button>
    	</ion-col>
    	<ion-col>
    		<ion-button expand="full" id="b2">Lotto</ion-button>
    	</ion-col>
    	<ion-col>
    		<ion-button expand="full" id="b3">Ganador</ion-button>
    	</ion-col>
    	<ion-col>
    		<ion-button expand="full" id="b4">
    			<ion-icon name="exit-outline"></ion-icon>
    		</ion-button>
    	</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div id="contenedor">
		<ion-list *ngFor="let usuario of usuarios2">
			<ion-item>
				<p>{{ usuario.jugador }}</p><p> | </p><p>{{ usuarios.numero }}</p>
			</ion-item>
		</ion-list>
	</div>
	<div id="contenedor2">
		<ion-list *ngFor="let usuario of usuarios2">
			<ion-item>
				<p>{{ usuario.jugador }}</p><p> | </p><p>{{ usuarios.numero }}</p>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
