<!-- <ion-header>
  <ion-toolbar>
    <ion-title>modal-seleccion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

	<div style="text-align: center;">
		
		<label>
			Se vuoi semplicemente una nuova combinazione <span style="text-decoration: underline;" (click)="routes(1)"> clicca qui </span>
		</label>

		<br>
		<br>

		<b style="color: gold">ALTRIMENTI</b>

		<br>
		<br>

		<label>
		Se vuoi cambiare le regole <span style="text-decoration: underline;" (click)="routes(2)"> clicca qui </span>
		</label>
	</div>
</ion-content>
