<ion-content id="body">
	<ion-toolbar id="tools">
		<ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
	    <ion-label id="titulo">COMBINAZIONE</ion-label>
	</ion-toolbar>
	<img src="../assets/monedas-2.png" id="imgm">
	<img src="../assets/aro-luz.png" id="fondo"> 
	<ion-row>
		<ion-col id="hoy">
			LA TUA COMBINAZIONE {{ hoy }}
		</ion-col>
	</ion-row>
	<ion-row id="combinacion" *ngIf="combinacion">
		<ion-col class="columna">
			<div class="n1">
				<b>{{ combinacion[0] }}</b>
			</div>
		</ion-col>
		<ion-col class="columna2">
			<div class="n2">
				<b>{{ combinacion[1] }}</b>
			</div>
		</ion-col>
		<ion-col class="columna">
			<div class="n1">
				<b>{{ combinacion[2] }}</b>
			</div>
		</ion-col>
		<ion-col class="columna2">
			<div class="n2">
				<b>{{ combinacion[3] }}</b>
			</div>
		</ion-col>
		<ion-col class="columna">
			<div class="n1">
				<b>{{ combinacion[4] }}</b>
			</div>
		</ion-col>
	</ion-row>
	<ion-button shape="round" size="large" id="modifica" (click)="random()">MODIFICA COMBINAZIONE</ion-button>
	<p id="combo">ULTIME 3 COMBINAZIONI</p>
	<ion-row id="uc" *ngIf="ultimos">
		<ion-row *ngFor="let fecha of fechas; let i = index">
			<ion-col class="c1">
				<label>{{ combinacion[i] }}</label>
			</ion-col>
			<ion-col class="c2">
				<label>{{ combinacion[i] }}</label>
			</ion-col>
			<ion-col class="c1">
				<label>{{ combinacion[i] }}</label>
			</ion-col>
			<ion-col class="c2">
				<label>{{ combinacion[i] }}</label>
			</ion-col>
			<ion-col class="c1">
				<label>{{ combinacion[i] }}</label>
			</ion-col>
			<ion-col>
				<label>{{ fechas[i] }}</label>
			</ion-col>
		</ion-row>
	</ion-row>
	
</ion-content>