#body{
	--background: #09B7DA;
	--color: white;
}
#tools{
	--background: transparent;
	--color: white;
	text-align: center;
	font-weight: 100;
}
#titulo{
	margin-left: -10%;
	font-family: 'geometos';
	font-size: 14px;
}
#imgm{
	height: 30%;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 10%;
	z-index: 0;
}
#fondo{
	margin-top: -20%;
	height: 50%;
	width: 100%;
	z-index: 1;
}
#combinacion, #columna{
	margin: 0;
	text-align: center;
	height: 10%;
}
.n1, .n2{
	height: 100%;
	font-weight: bolder;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 45px 45px;
	color: black;
	display: flex;
	text-align: center;
	margin: 5px;
}
[class*="cn"]{
	height: 100%;
	font-weight: bolder;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	color: black;
	display: flex;
	text-align: center;
	margin: 5px;
}
.n1, .cn1, .cn3, .cn5{
	background-image: url('/assets/fondo-numero-rojo-balnco.png');
}
.n2, .cn2, .cn4{
	background-image: url('/assets/fondo-numero-azul-blanco.png');
}
.n1, .n2, [class*="c"]{
	label, b{
		margin: auto;
		text-align: center;
		display: flex;
	}
}
#modifica{
	position: relative;
	left: 10%;
	top: 2.5%;
	width: 80%;
	height: 7.5%;
	margin: 5px;
	--background: white;
	color: #09B7DA;
	font-weight: bold;
	font-size: 100%;
	--box-shadow: 0px 10px 10px #0898B5;
}
#hoy{
	text-align: center;
	margin: auto;
	position: relative;
	top: -50%;
	font-family: 'geometos';
	font-size: 14px;
}
p{
	text-align: right;
	width: 100%;
}
#uc{
	display: block;
	text-align: center;
	margin: auto;
}
#combo{
	font-family: 'geometos';
	font-size: 14px;
	text-align: left;
	margin-left: 2.5%;
}