<ion-content id="body">
	<ion-header id="head">
	  <ion-toolbar id="tools">
	  	<ion-menu-button menu="main-menu" slot="start" color="light"></ion-menu-button>
	  	<ion-title>TEST DEI MIEI NUMERI</ion-title>
	  </ion-toolbar>
	</ion-header>
	<div id="contenedor">
		<ion-row id="fila">
					<ion-col class="columna">
						<div *ngFor="let numero of numeros" class="n1">
							<input type="checkbox" name="" id="numero{{ numero }}" (change)="seleccionar($event, numero)">
							<label for="numero{{ numero }}">
								<b class="valores">
									{{ numero }}
								</b>
							</label>
						</div>
					</ion-col>
					<ion-col class="columna">
						<div *ngFor="let numero of numeros2" class="n2">
							<input type="checkbox" name="" id="numero{{ numero }}" (change)="seleccionar2($event, numero)">
							<label for="numero{{ numero }}">
								<b class="valores">
									{{ numero }}
								</b>
							</label>
						</div>
					</ion-col>
					<ion-col class="columna">
						<div *ngFor="let numero of numeros3" class="n1">
							<input type="checkbox" name="" id="numero{{ numero }}" (change)="seleccionar($event, numero)">
							<label for="numero{{ numero }}">
								<b class="valores">
									{{ numero }}
								</b>
							</label>
						</div>
					</ion-col>
					<ion-col class="columna">
						<div *ngFor="let numero of numeros4" class="n2">
							<input type="checkbox" name="" id="numero{{ numero }}" (change)="seleccionar2($event, numero)">
							<label for="numero{{ numero }}">
								<b class="valores">
									{{ numero }}
								</b>
							</label>
						</div>
					</ion-col>
					<ion-col class="columna">
						<div *ngFor="let numero of numeros5" class="n1">
							<input type="checkbox" name="" id="numero{{ numero }}" (change)="seleccionar($event, numero)">
							<label for="numero{{ numero }}">
								<b class="valores">
									{{ numero }}
								</b>
							</label>
						</div>
					</ion-col>
					<ion-col class="columna">
						<div *ngFor="let numero of numeros6" class="n2">
							<input type="checkbox" name="" id="numero{{ numero }}" (change)="seleccionar2($event, numero)">
							<label for="numero{{ numero }}">
								<b class="valores">
									{{ numero }}
								</b>
							</label>
						</div>
					</ion-col>
					<ion-col class="columna">
						<div *ngFor="let numero of numeros7" class="n1">
							<input type="checkbox" name="" id="numero{{ numero }}" (change)="seleccionar($event, numero)">
							<label for="numero{{ numero }}">
								<b class="valores">
									{{ numero }}
								</b>
							</label>
						</div>
					</ion-col>

			<!--<ion-col class="columna">
				<div class="ndiv" *ngFor="let numero of numeros">
					<b class="n1">{{ numero }}</b>
				</div>
			</ion-col>
			<ion-col class="columna">
				<div class="ndiv" *ngFor="let numero2 of numeros2">
					<b class="n2">{{ numero2 }}</b>
				</div>
			</ion-col>
			<ion-col class="columna">
				<div class="ndiv" *ngFor="let numero3 of numeros3">
					<b class="n1">{{ numero3 }}</b>
				</div>
			</ion-col>
			<ion-col class="columna">
				<div class="ndiv" *ngFor="let numero4 of numeros4">
					<b class="n2">{{ numero4 }}</b>
				</div>
			</ion-col>
			<ion-col  class="columna">
				<div class="ndiv" *ngFor="let numero5 of numeros5">
					<b class="n1">{{ numero5 }}</b>
				</div>
			</ion-col>
			<ion-col class="columna">
				<div class="ndiv" *ngFor="let numero6 of numeros6">
					<b class="n2">{{ numero6 }}</b>
				</div>
			</ion-col>
			<ion-col class="columna">
				<div class="ndiv" *ngFor="let numero7 of numeros7">
					<b class="n1">{{ numero7 }}</b>
				</div>
			</ion-col>-->
		</ion-row>
	</div>
	<div *ngIf="combinacion.length < 5">
		<ion-button shape="round" expand="full" size="large" id="verifica" (click)="validar()" disabled>VERIFICA</ion-button>
	</div>
	<div *ngIf="combinacion.length == 5">
		<ion-button shape="round" expand="full" size="large" id="verifica" (click)="validar()">VERIFICA</ion-button>
	</div>
	<ion-row>
		<ion-col></ion-col>
		<ion-col>
			<!--<img src="../assets/">-->
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col></ion-col>
		<ion-col>
			{{ colores }}
		</ion-col>
		<ion-col></ion-col>
	</ion-row>
</ion-content>