<ion-content>
	<ion-header>
	  <ion-toolbar id="tools">
	  	<ion-button slot="start"></ion-button>
	  </ion-toolbar>
	</ion-header>
	<ion-item>
		<ion-col *ngFor="let numero of numeros">
			<div id="ndiv">
				<p id="n1">{{ numero }}</p>
			</div>
		</ion-col>
		<ion-col *ngFor="let numero2 of numeros2">
			<div id="ndiv">
				<p id="n2">{{ numero2 }}</p>
			</div>
		</ion-col>
		<ion-col *ngFor="let numero3 of numeros3">
			<div id="ndiv">
				<p id="n1">{{ numero3 }}</p>
			</div>
		</ion-col>
		<ion-col *ngFor="let numero4 of numeros4">
			<div id="ndiv">
				<p id="n2">{{ numero4 }}</p>
			</div>
		</ion-col>
		<ion-col *ngFor="let numero5 of numeros5">
			<div id="ndiv">
				<p id="n1">{{ numero5 }}</p>
			</div>
		</ion-col>
		<ion-col *ngFor="let numero6 of numeros6">
			<div id="ndiv">
				<p id="n2">{{ numero6 }}</p>
			</div>
		</ion-col>
		<ion-col *ngFor="let numero7 of numeros7">
			<div id="ndiv">
				<p id="n1">{{ numero7 }}</p>
			</div>
		</ion-col>
	</ion-item>
</ion-content>