<ion-content [fullscreen]="true" id="contenedor">
  <div id="container">
    <div id="presentacion">
      <h2>CHANCE MILLIONDAY</h2>
      <img src="../assets/icono superior.png" id="million">
      <img src="../assets/monedas-2.png" id="fondo">
    </div>
    <form method="POST" #f="ngForm" (ngSubmit)="registrarse(f)" id="register" style="margin-top: -8px">
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none" style="margin-top: 0">
              <ion-input placeholder="NOME E COGNOME" type="text" name="formulario.nombre" [(ngModel)]="formulario.nombre" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="MAIL" type="text" name="formulario.correo" [(ngModel)]="formulario.correo" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-datetime [(ngModel)]="formulario.fecha" name="formulario.fecha" value="2019-10-01T15:43:40.394Z" displayFormat="DD MMM YYYY" display-timezone="utc"
            monthShortNames="gen, feb, mar, apr, mai, jun, lug, aug, set, ott, nov, dec"
            placeholder="DATA DI NASCITA"
            cancel-text="Chiudi"
            done-text="Ok"
            ></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="PASSWORD" name="formulario.password" type="password" [(ngModel)]="formulario.password" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="CONFERMA PASSWORD" name="confirmar" type="password" [(ngModel)]="confirmar" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ir pt-16">
        <ion-col>
          <a (click)="cambio()">Hai già un account? <p>accesso</p></a>
        </ion-col>
        </ion-row>
        <ion-row class="ir">
          <ion-col>
            <a routerLink="/">Ho dimenticato la mia <p>password</p></a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button shape="round" type="submit" expand="full" id="botones">REGISTRATI</ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" type="reset" expand="full" id="botones">PULITO</ion-button>
          </ion-col>
        </ion-row>
    </form>
  </div>
  <div id="container2">
    <div id="presentacion">
      <h2>CHANCE MILLIONDAY</h2>
      <img src="../assets/icono superior.png" id="million">
      <img src="../assets/monedas-2.png" id="fondo">
    </div>
    <form method="POST" (ngSubmit)="sesion(f)" id="fsesion" style="margin-top: -8px">
      <ion-row>
        <ion-col>
          <ion-item id="entrada2" lines="none" style="margin-top: 0">
            <ion-input placeholder="USER" [(ngModel)]="isesion.correo" name="isesion.correo" type="email" id="" autocomplete="off"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item id="entrada2" lines="none">
            <ion-input placeholder="PASSWORD" [(ngModel)]="isesion.password" name="isesion.password" type="password" id="psesion" autocomplete="off"></ion-input>
          </ion-item>
        </ion-col> 
      </ion-row>
      <ion-row class="ir pt-16">
        <ion-col>
          <a (click)="cambio2()">Non ho un account, <p>Registrati</p></a>
        </ion-col>
      </ion-row>
      <ion-row class="ir">
        <ion-col>
          <a routerLink="/recuperar">Ho dimenticato la mia <p>password</p></a>
        </ion-col>
      </ion-row>
      <ion-row id=sesionb>
        <ion-col></ion-col>
        <ion-button type="submit" shape="round" expand="block" size="large" id="botones2">OK</ion-button>
        <ion-col></ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
