<ion-content [fullscreen]="true" id="contenedor">
  <div id="container">
    <div id="presentacion">
      <h2>CHANCE MILLIONDAY</h2>
      <img src="../assets/Group 2706.png" id="million">
      <img src="../assets/aro-luz.png" id="fondo">
    </div>
    <br><br>
    <form method="POST" #f="ngForm" (ngSubmit)="registrarse(f)" id="register">
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="Nombre completo" type="text" name="formulario.nombre" [(ngModel)]="formulario.nombre" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="Correo" type="text" name="formulario.correo" [(ngModel)]="formulario.correo" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item id="entrada" lines="none">
          <ion-row>
            <ion-col>
              <h6>Fecha de nacimiento: </h6>
            </ion-col>
            <ion-col>
              <ion-input type="date" name="formulario.fecha" [(ngModel)]="formulario.fecha"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="Contraseña" name="formulario.password" type="password" [(ngModel)]="formulario.password" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="Confirmar contraseña" name="confirmar" type="password" [(ngModel)]="confirmar" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row id="ir">
        <ion-col>
          <a (click)="cambio()">¿Ya tienes una cuenta? <p>Inicia sesión</p></a>
        </ion-col>
        </ion-row>
        <ion-row id="ir">
          <ion-col>
            <a routerLink="/">Recuperar <p>contraseña</p></a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button shape="round" type="submit" expand="full" id="botones">Registrate</ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" type="reset" expand="full" id="botones">Limpiar</ion-button>
          </ion-col>
        </ion-row>
    </form>
  </div>
  <div id="container2">
    <div id="presentacion">
      <h2>CHANCE MILLIONDAY</h2>
      <img src="../assets/Group 2706.png" id="million">
      <img src="../assets/aro-luz.png" id="fondo">
    </div>
    <form method="POST" (ngSubmit)="sesion(f)" id="fsesion">
      <ion-row>
        <ion-col>
          <ion-item id="entrada2" lines="none">
            <ion-input placeholder="Correo" [(ngModel)]="isesion.correo" name="isesion.correo" type="email" id="csesion" autocomplete="off"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item id="entrada2" lines="none">
            <ion-input placeholder="Contraseña" [(ngModel)]="isesion.password" name="isesion.password" type="password" id="psesion" autocomplete="off"></ion-input>
          </ion-item>
        </ion-col> 
      </ion-row>
      <ion-row id="ir">
        <ion-col>
          <a (click)="cambio2()">¿No tienes una cuenta? <p>regístrate</p></a>
        </ion-col>
      </ion-row>
      <ion-row id="ir">
        <ion-col>
          <a routerLink="/">Recuperar <p>contraseña</p></a>
        </ion-col>
      </ion-row>
      <ion-row id=sesionb>
        <ion-col></ion-col>
        <ion-button type="submit" shape="round" expand="block" size="large" id="botones2">OK</ion-button>
        <ion-col></ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
