<ion-header [translucent]="true">
  <ion-toolbar id="tools">
    <ion-title>
      MillionDay
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cambio()" id="sesion">Iniciar sesión</ion-button>
      <ion-button (click)="cambio2()" id="registro">Registro</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="presentacion">
      <img src="../assets/millionday-02.png" id="million2">
    </div>
    <form method="POST" #f="ngForm" (ngSubmit)="registrarse(f)" id="register">
        <ion-row>
          <ion-col>
            <ion-item id="entrada">
              <ion-input placeholder="Nombre completo" type="text" name="formulario.nombre" [(ngModel)]="formulario.nombre"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item id="entrada">
              <ion-input placeholder="Correo" type="text" name="formulario.correo" [(ngModel)]="formulario.correo"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item id="entrada">
          <ion-row>
            <ion-col>
              <h6>Fecha de nacimiento: </h6>
            </ion-col>
            <ion-col>
              <ion-input type="date" name="formulario.fecha" [(ngModel)]="formulario.fecha"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-item id="entrada">
              <ion-input placeholder="Contraseña" name="formulario.password" type="password" [(ngModel)]="formulario.password"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item id="entrada">
              <ion-input placeholder="Confirmar contraseña" name="confirmar" type="password" [(ngModel)]="confirmar"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="full" id="botones">Registrate</ion-button>
          </ion-col>
          <ion-col>
            <ion-button type="reset" expand="full" id="botones">Limpiar</ion-button>
          </ion-col>
        </ion-row>
    </form>
  </div>
  <div id="container2">
    <div id="presentacion">
      <img src="../assets/millionday-02.png" id="million">
    </div>
    <form method="POST" (ngSubmit)="sesion(f)" id="fsesion">
      <ion-item id="entrada" lines="none">
          <ion-input placeholder="Correo" [(ngModel)]="isesion.correo" name="isesion.correo" type="email" id="csesion" autocomplete="off"></ion-input>
        </ion-item>
        <ion-item id="entrada" lines="none">
          <ion-input placeholder="Contraseña" [(ngModel)]="isesion.password" name="isesion.password" type="password" id="psesion" autocomplete="off"></ion-input>
        </ion-item>
      <ion-row id=sesionb>
        <ion-col></ion-col>
        <ion-button type="submit" expand="full" id="botones">Iniciar sesión</ion-button>
        <ion-col></ion-col>
      </ion-row>
      <ion-row id="recuperar">
        <ion-col></ion-col>
        <ion-col>
          <a routerLink="/">Recuperar contraseña</a>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
