#container{
  display: none;
}
#register{
  text-align: center;
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0%;
  margin-top: 0%;
}
#entrada{
  margin-top: 7.5%;
  --background: transparent;
  --color: white;
}
#botones{
  margin-top: 10%;
  --background: white;
  --color: #50CBE4;
  --box-shadow: 0px 15px 15px #0898B5;
  margin-bottom: 7.5%;
}
#container2 {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}
#sesionb{
  margin-top: 1.5%;
}
#recuperar{
  margin-top: 5%;
  font-size: 67.5%;
  text-align: center;
}
a{
  color: gray;
  text-decoration: none;
}
#contenedor{
  top: 0%;
  left: 0%;
  --background: #09B7DA;
  font-family: arial;
  z-index: -2;
}
h2{
  color: #FFF100;
  -webkit-text-stroke: 1px black;
  font-weight: bolder;
  text-align: center;
}
#million{
  height: 40%;
  width: 80%;
  position: relative;
  top: 15%;
  left: 10%;
  z-index: 1;
  margin-top: 10%;
}
#fsesion{
  margin-top: 10%;
}
#botones2{
  margin-top: 10%;
  --color: #50CBE4;
  width: 80%;
  font-weight: bolder;
  --box-shadow: 0px 15px 15px #0898B5;
  border-radius: 100px;
  --background: white;
  margin-bottom: 7.5%;
}
#entrada2{
  width: 90%;
  border-radius: 10px;
  margin-top: 1.5%;
  margin-left: 5%; 
}
#csesion, #psesion{
  --placeholder-font-weight: bold;
  --placeholder-color: gray;
}
#ir{
  margin-top: 5%;
  text-align: center;
  font-size: 120%;
}
a{
  text-decoration: none;
  color: white;
  font-weight: 100;
}
a p{
  color: black;
  display: inline;
}
#fondo{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 55%;
  z-index: 0;
}