<ion-content id="body">
	<ion-toolbar id="tools">
		<ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
	    <ion-label id="titulo">DONA</ion-label>
	</ion-toolbar>
	<img src="../assets/monedas-2.png" id="imgm">
	<img src="../assets/aro-luz.png" id="fondo">
	<label id="prop">
		Hai vinto grazie alla nostra app?<br>
		Sostienici con una donazione!
	</label>
	<br><br>
	<label id="info">QUANTO VUOI DONARE?</label>
	<ion-item id="paypal" lines="none">
		<ion-input type="text" autocomplete="off" id="monto"></ion-input>
	</ion-item>
	<ion-button expand="full" size="large" shape="round" id="dona">DONARE</ion-button>
</ion-content>