#body{
	--background: #09B7DA;
	--color: white;
}
#titulo{
	position: relative;
	left: -7.5%;
	font-family: 'geometos';
	font-size: 14px;
}
#tools{
	--background: transparent;
	--color: white;
	text-align: center;
	font-weight: 100;
}
#imgm{
	height: 30%;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 10%;
	z-index: 0;
}
#fondo{
	margin-top: -20%;
	height: 50%;
	width: 100%;
	z-index: 1;
}
#is{
	height: 30%;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 10%;
	z-index: 2;
}
#dona{
	margin-top: 10%;
	width: 75%;
	margin-left: 12.5%;
	--background: white;
	--color: #50CBE4;
	font-weight: bolder;
	--box-shadow: 0px 15px 15px #0898B5;
}
#paypal{
	--background: transparent;
}
#info{
	color: white;
	margin: auto;
	text-align: center;
	font-size: 14px;
	display: block;
	margin-bottom: 3.5%;
}
#monto{
	input {
		outline: none !important;
	}
	position: relative;;
	background: white;
	color: #50CBE4;
	margin: auto;
	font-weight: bold;
	text-align: center;
	width: 30% !important;
	padding-start: 0;
    padding-end: 0;
    height: 40px;
    display: flex;
	margin-top: 24px;
}
#prop{
	display: block;
	text-align: center;
	font-size: 14px;
	margin: auto;
	font-weight: 100;
	margin-top: -8px;
}

#million, #fondo{
  width: 80%;
  position: absolute;
  z-index: 1;
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#fondo {
  width: 90%;
  z-index: 0;
}
#presentacion {
  h2 {
    width: 100%;
  }
  position: relative;
  height: 350px;
  background-image: url(/assets/aro-luz.png);
  background-size: cover;
  background-position: center;
  display: flex;
}